[package]
name = "pyrage"
version = "1.0.1-rc.1"
authors = ["William Woodruff <william@yossarian.net>"]
edition = "2021"
description = "Python bindings for rage (age in Rust)"
homepage = "https://github.com/woodruffw/pyrage"
repository = "https://github.com/woodruffw/pyrage"
readme = "README.md"
license = "MIT"

[package.metadata.release]
dev-version = false
publish = false # handled by GitHub Actions
push = true

[package.metadata.maturin]
classifier = [
  "Programming Language :: Rust",
  "Operating System :: POSIX :: Linux",
]
requires-python = ">=3.7"

[lib]
crate-type = ["cdylib"]

[dependencies]
# age-core = "0.8"
# age = { version = "0.8", features = ["ssh"] }
age-core = { git = "https://github.com/str4d/rage", branch = "main" }
age = { git = "https://github.com/str4d/rage", branch = "main", features = ["ssh"] }
pyo3 = { version = "0.17", features = ["extension-module"] }
