on:
  workflow_dispatch:
    inputs:
      dry-run:
        required: true
        default: false
        type: boolean
name: release-stubs

permissions: {}

jobs:
  release-stubs:
    name: build pyrage-stubs
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false

      - uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          python-version-file: pyproject.toml

      - name: build pyrage-stubs
        run: |
          make dist-pyrage-stubs

      - name: upload dists
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: dist
          path: dist/

  pypi-publish:
    name: publish all dists to PyPI
    runs-on: ubuntu-latest
    environment: release
    permissions:
      # Used for OIDC publishing.
      id-token: write
    needs:
      - release-stubs

    steps:
      - name: fetch dists
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          name: dist
          path: dist/

      - name: publish
        if: ${{ !inputs.dry-run }}
        uses: pypa/gh-action-pypi-publish@ed0c53931b1dc9bd32cbe73a98c7f6766f8a527e # v1.13.0
        with:
          attestations: true
