on:
  workflow_dispatch:
    inputs:
      dry-run:
        required: true
        default: false
        type: boolean
name: release-stubs

permissions: {}

jobs:
  release-stubs:
    name: build pyrage-stubs
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version-file: pyproject.toml

      - name: build pyrage-stubs
        run: |
          make dist-pyrage-stubs

      - name: upload dists
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: dist
          path: dist/

  pypi-publish:
    name: publish all dists to PyPI
    runs-on: ubuntu-latest
    environment: release
    permissions:
      # Used for OIDC publishing.
      id-token: write
    needs:
      - release-stubs

    steps:
      - name: fetch dists
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: dist
          path: dist/

      - name: publish
        if: ${{ !inputs.dry-run }}
        uses: pypa/gh-action-pypi-publish@ed0c53931b1dc9bd32cbe73a98c7f6766f8a527e # v1.13.0
        with:
          attestations: true
