on:
  release:
    types:
      - published

name: release

jobs:
  release-linux:
    name: build Linux release dists
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-python@v4

      - name: build wheels
        run: make dist-pyrage

      - name: upload linux dists
        uses: actions/upload-artifact@v3
        with:
          name: pyrage-dists
          path: dist/

  release-macos:
    name: build macOS release dists
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-python@v4
        with:
          python-version: "3.x"

      - name: build wheels
        run: |
          rustup target add aarch64-apple-darwin
          make env
          source env/bin/activate
          maturin build --release --strip --universal2
          mv target/wheels/ dist/

      - name: upload macos dists
        uses: actions/upload-artifact@v3
        with:
          name: pyrage-dists
          path: dist/

  release-windows:
    name: build Windows release dists
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-python@v4
        with:
          python-version: "3.x"

      - name: build wheels
        shell: bash
        run: |
          make env
          source env/Scripts/activate
          maturin build --release --strip
          mv target/wheels/ dist/

      - name: upload windows dists
        uses: actions/upload-artifact@v3
        with:
          name: pyrage-dists
          path: dist/

  pypi-publish:
    name: publish all dists to PyPI
    runs-on: ubuntu-latest
    environment: release
    needs:
      - release-linux
      - release-macos
      - release-windows

    steps:
      - name: fetch dists
        uses: actions/download-artifact@v3
        with:
          name: pyrage-dists
          path: dist/

      - name: publish
        uses: pypa/gh-action-pypi-publish@v1.8.1
        with:
          packages_dir: dist/
